nav a {
    text-decoration: none;
    width: 100%;
    align-items: right;
    color: black;
}

.links li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 13px 13px;
}

a:hover {
    background-color: #495e57;
    color: white;
    border-radius: 5px;
}
