body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  display: grid;
  grid-template-rows: none;
  grid-template-columns: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-logo {
text-align: center;
}

.footer-content {
text-align: center;
}

.copyright {
text-align: center;
}

.create {
max-width: 400px;
margin: 0 auto;
text-align: center;
}

.create label {
text-align: left;
display: block;
color: red;
}
.create h2 {
font-size: 20px;
color: #f1356d;
margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-bar {
  padding-top: 20px;
  padding-bottom: 5px;
  margin: auto;
}

#logo1 {
  float: left;
  padding-left: 150px;
}


.ml-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  color: white;
  text-align: center;
}

.footer-content li {
  padding: 3px;
  color: white;
}

.footer-logo img {
  padding-top: 25px;
}

.dinner-image {
  margin: 0;
  padding: 0;
  display: block;
}

.dinner-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  padding: 0;
  margin: 0;
}

.dinnerpics {
  color: black;
  padding: 0;
  margin: 0;
}

.dinnerbox {
  padding-bottom: 45px;

}

.price {
  color:#F4CE14;
}

.herosection {
  background-color: hsl(160, 13%, 33%);
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
}

.herosection h1 {
  text-align: left;
  margin-bottom: -15px;
  padding-bottom: 1px;
  padding-top: 10px;
}

.herosection h2 {
  text-align: left;
  color: white;
  padding-left: 1px;
  padding-bottom: -30px;
}

.herosection p {
  color: white;
  text-align: left;
  padding-bottom: 8px;
}

.herosection button {
  margin-left: -90px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #F4CE14;
  font-size: 14px;
  padding: 8px;
}

.herosection img {
  padding-top: 0px;
  border-radius: 20px;
}

.specials {
display: inline-block;
}

.special-card {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 40px;
  }

  .price-tag {
  color: #f48b14;
  padding: -25px;
  margin: -10px;
  }

.specials h2 {
  text-align: left;
  padding-left: 30px;
  color: black;
}

.specials button {
  border-radius: 15px;
  background-color: #F4CE14;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 30px;
}

.special-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
  margin-left: 200px;
  margin-right: 200px;
  grid-gap: 10px;
}

.special-card-item {
  padding-bottom: 5px;
  margin: 0px;
  background-color: #495e57;
  color: white;
  border-radius: 10px;
}

.dessert-image {
  padding: 0px;
  margin: 0px;
}

.datadata {
  padding-top: 30px;
}

.shoppingcart {
  justify-content: right;
}

.rounded-circle {
  border-radius: 30px;
}

.rounded-circle-bg-danger {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.about-us {
  background-color: #495e57;
  padding-left: 30px;
}

.about-us h1 {
  text-align: left;
  margin-bottom: -15px;
  padding-bottom: 1px;
  padding-top: 10px;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 50px;
  padding-top: 25px;
}

.characters {
  color: white;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-content: center;
}

.form h2 {
  margin: 0px;
  padding: 0px;
}

.form p {
  margin-top: -20px;
  margin-bottom: 40px;
}

.form-case {
  background-color: #495e57;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.formblock {
  max-width: 300px;
}