h1 {
    font-size: 3em;
    color: #F4CE14;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    color: #F4CE14;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    color: #F4CE14;
}

li {
    display: inline;
    padding: 20px;
}

.mainstuff {
    padding: 50px;
    text-align: center;
}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none; color: black; }

/* the code below makes everything centered */
* {
    text-align: center;
}


/* below is the css for the reservation form */

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.form label {
  text-align: left;
  display: block;
}
.form h2 {
  font-size: 20px;
  color: #F4CE14;
  margin-bottom: 30px;
}
.form input, .form textarea, .form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.form button {
  background: #F4CE14;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}