h1 {
    font-size: 3em;
    color: #F4CE14;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    color: #F4CE14;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    padding: 20px;
}

.mainstuff {
    padding: 50px;
    text-align: center;
}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none; color: black; }

/* the code below makes everything centered */
* {
    text-align: center;
}